#profile-pic {
    width: 350px;
    height: 350px;
}

#bs-example-navbar-collapse-1 {
    float: right;
}

#flickr, #cse, #germa {
    width: 250px;
    height: 250px;
    margin-top: 30px;
}

#flickr-icon {
    width: 40px;
    height: 40px;
}

#sampa-header, #contact-info, #personal-info {
    display: inline;
}

#flickr-exp, #flickr-icon, #sampa-exp, #sampa, #contact, #personal-info, .contactInfoImg, #resume, #resume-pre, #contact-pre {
    float: left;
}

#sampa {
    width: 25%;
    height: 25%;
    margin-left: 10px;
    margin-top: 10px;
}

#flickr-header, #sampa-header, #germa-header {
    clear: both;
    display: inline-block;
}

#flickr-icon {
    margin-top: 15px;
}

.contactInfoImg {
    border-style: solid;
    width: 80px;
    height: 80px;
}

p {
    font-size: 12pt;
}

.contactInfoImg:hover {
    opacity: 0.4;
    opacity: 0.4;
}

#resume-pre, #contact-pre {
    margin-top: 30px;
}

.container {
    margin-left: 70px;
    margin-right: 70px;
}